#container {
    width: 200px;
    height: 150px;
    border: 1px solid #ccc;
    overflow-x: scroll;
    margin-bottom: 10px;
  }
  
  #Subcontainer {
    width: 200px;
    height: 150px;
    border: 1px solid #ccc;
    overflow-x: scroll;
    margin-top: 50px;
    
  }
  #content {
    width: 250px;
    background-color: #ccc;
  
  }
